/.metadata
/.recommenders/
/RemoteSystemsTempFiles/
/bin/
.settings/
logs/
*.log
.DS_Store
Thumbs.db
/megamek/*.blame
/megamek/*.diff
/megamek/*.patch
/megamek/classes/
/megamek/bin/

# IDE directories
out/
.idea/
.vscode/
.classpath
.project
.classpath
settings_local.gradle
properties_local.gradle

# Build directories
build/
.gradle/

# Jars
/megamek/MegaMekLab.jar
/megamek/MegaMek.jar

#MegaMek Data Folders
# mmconf
/megamek/mmconf/clientsettings.xml
/megamek/mmconf/*gameoptions.xml
/megamek/mmconf/*.properties
!/megamek/mmconf/shared.properties
/megamek/mmconf/*.properties.bak
/megamek/mmconf/*.preferences

# UserData
megamek/userdata/**
!/megamek/userdata/README.md

# Save Games
/megamek/savegames
*.sav.gz

# MUL Files
*.mul

#MegaMek/data Folders
/megamek/data/misc/
/megamek/data/recordsheets/
/megamek/data/splash/

# mechfiles
/megamek/data/mechfiles/units.cache
/megamek/data/mechfiles/IrTech/
/megamek/data/mechfiles/Special/
/megamek/data/mechfiles/customs/

# Images
/megamek/data/images/*_atlas.png
/megamek/data/images/imgFileAtlasMap.xml
#Portraits
/megamek/data/images/portraits/
/megamek/data/images/temp/
!/megamek/data/images/portraits/default.gif


# Boards
#End MegaMek/data Folders
#End MegaMek data Folders

#MegaMek Other Outputs
/megamek/mechs.csv
/megamek/*.pdf
/megamek/*.ps
/megamek/*.png
/megamek/*.ps
/megamek/atlasedImages.txt
/megamek/Entity Issues.txt
/megamek/apidocs/
#End MegaMek Other Outputs
