<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- log to a file and roll over if the file size reaches 10 megabytes. -->
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/megameklog.txt"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- timestamp priority [category] {thread} message -->
            <param name="ConversionPattern" value="%n%d{HH:mm:ss,SSS} %p [%c] {%t} \n%m%n"/>
        </layout>
    </appender>

    <!-- Set up a separate appender for Princess to log to a separate file. -->
    <!--<appender name="princess" class="org.apache.log4j.RollingFileAppender">-->
    <!--<param name="file" value="logs/princess.log"/>-->
    <!--<param name="MaxFileSize" value="10MB"/>-->
    <!--<param name="MaxBackupIndex" value="3"/>-->
    <!--<layout class="org.apache.log4j.PatternLayout">-->
    <!--<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %p [%c] {%t} %m%n"/>-->
    <!--</layout>-->
    <!--</appender>-->

    <!-- Setup the Root category -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Set the QuirksHandler class to WARN. -->
    <!--<logger name="megamek.common.QuirksHandler">-->
    <!--<level value="WARN"/>-->
    <!--</logger>-->

    <!-- Set the test package to DEBUG. -->
    <!--<logger name="megamek.test">-->
    <!--<level value="DEBUG"/>-->
    <!--</logger>-->

    <!-- Log Princess output to a separate file. -->
    <!--<logger name="megamek.client.bot.princess" additivity="false">-->
    <!--<level value="INFO"/>-->
    <!--<appender-ref ref="princess"/>-->
    <!--</logger>-->
</log4j:configuration> 