<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <Properties>
        <Property name="layout">%d{ABSOLUTE} %-5p [%logger{36}] {%t}%n%l - %m%n%ex%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${layout}" />
        </Console>
        <File name="MegaMekLog" fileName="logs/megamek.log" append="false">
            <PatternLayout pattern="${layout}"/>
        </File>
        <File name="MegaMekLabLog" fileName="logs/megameklab.log" append="false">
            <PatternLayout pattern="${layout}"/>
        </File>
        <File name="MekHQLog" fileName="logs/mekhq.log" append="false">
            <PatternLayout pattern="${layout}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="megamek.client.bot" level="error" additivity="false" >
            <AppenderRef ref="MegaMekLog" />
        </Logger>
        <Logger name="megamek" level="info" additivity="false" >
            <AppenderRef ref="MegaMekLog" />
        </Logger>
        <Logger name="megameklab" level="info" additivity="false" >
            <AppenderRef ref="MegaMekLabLog" />
        </Logger>
        <Logger name="mekhq" level="info" additivity="false" >
            <AppenderRef ref="MekHQLog" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="MegaMekLog" />
        </Root>
    </Loggers>
</Configuration>
