<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="build">
        <dir
          name="reports">
          <dir
            name="problems"/>
        </dir>
      </dir>
      <dir
        name="megamek">
        <dir
          name="build">
          <dir
            name="reports">
            <dir
              name="checkstyle"/>
            <dir
              name="jacoco">
              <dir
                name="test">
                <dir
                  name="html">
                  <dir
                    name="jacoco-resources"/>
                  <dir
                    name="megamek"/>
                  <dir
                    name="megamek.ai.dataset"/>
                  <dir
                    name="megamek.ai.utility"/>
                  <dir
                    name="megamek.client"/>
                  <dir
                    name="megamek.client.bot"/>
                  <dir
                    name="megamek.client.bot.princess"/>
                  <dir
                    name="megamek.client.bot.princess.commands"/>
                  <dir
                    name="megamek.client.bot.ui.swing"/>
                  <dir
                    name="megamek.client.commands"/>
                  <dir
                    name="megamek.client.event"/>
                  <dir
                    name="megamek.client.generator"/>
                  <dir
                    name="megamek.client.generator.enums"/>
                  <dir
                    name="megamek.client.generator.skillGenerators"/>
                  <dir
                    name="megamek.client.ratgenerator"/>
                  <dir
                    name="megamek.client.ui"/>
                  <dir
                    name="megamek.client.ui.advancedSearchMap"/>
                  <dir
                    name="megamek.client.ui.advancedsearch"/>
                  <dir
                    name="megamek.client.ui.baseComponents"/>
                  <dir
                    name="megamek.client.ui.comboBoxes"/>
                  <dir
                    name="megamek.client.ui.dialogs"/>
                  <dir
                    name="megamek.client.ui.dialogs.helpDialogs"/>
                  <dir
                    name="megamek.client.ui.dialogs.nagDialogs"/>
                  <dir
                    name="megamek.client.ui.displayWrappers"/>
                  <dir
                    name="megamek.client.ui.enums"/>
                  <dir
                    name="megamek.client.ui.lists"/>
                  <dir
                    name="megamek.client.ui.models"/>
                  <dir
                    name="megamek.client.ui.panels"/>
                  <dir
                    name="megamek.client.ui.panes"/>
                  <dir
                    name="megamek.client.ui.preferences"/>
                  <dir
                    name="megamek.client.ui.renderers"/>
                  <dir
                    name="megamek.client.ui.sbf"/>
                  <dir
                    name="megamek.client.ui.swing"/>
                  <dir
                    name="megamek.client.ui.swing.alphaStrike"/>
                  <dir
                    name="megamek.client.ui.swing.audio"/>
                  <dir
                    name="megamek.client.ui.swing.boardview"/>
                  <dir
                    name="megamek.client.ui.swing.calculationReport"/>
                  <dir
                    name="megamek.client.ui.swing.commands"/>
                  <dir
                    name="megamek.client.ui.swing.dialog"/>
                  <dir
                    name="megamek.client.ui.swing.forceDisplay"/>
                  <dir
                    name="megamek.client.ui.swing.gameConnectionDialogs"/>
                  <dir
                    name="megamek.client.ui.swing.lobby"/>
                  <dir
                    name="megamek.client.ui.swing.lobby.sorters"/>
                  <dir
                    name="megamek.client.ui.swing.minimap"/>
                  <dir
                    name="megamek.client.ui.swing.overlay"/>
                  <dir
                    name="megamek.client.ui.swing.sbf"/>
                  <dir
                    name="megamek.client.ui.swing.scenario"/>
                  <dir
                    name="megamek.client.ui.swing.skinEditor"/>
                  <dir
                    name="megamek.client.ui.swing.tileset"/>
                  <dir
                    name="megamek.client.ui.swing.tooltip"/>
                  <dir
                    name="megamek.client.ui.swing.unitDisplay"/>
                  <dir
                    name="megamek.client.ui.swing.util"/>
                  <dir
                    name="megamek.client.ui.swing.widget"/>
                  <dir
                    name="megamek.client.ui.trees"/>
                  <dir
                    name="megamek.codeUtilities"/>
                  <dir
                    name="megamek.common"/>
                  <dir
                    name="megamek.common.actions"/>
                  <dir
                    name="megamek.common.actions.sbf"/>
                  <dir
                    name="megamek.common.alphaStrike"/>
                  <dir
                    name="megamek.common.alphaStrike.cardDrawer"/>
                  <dir
                    name="megamek.common.alphaStrike.conversion"/>
                  <dir
                    name="megamek.common.autoresolve"/>
                  <dir
                    name="megamek.common.autoresolve.acar"/>
                  <dir
                    name="megamek.common.autoresolve.acar.action"/>
                  <dir
                    name="megamek.common.autoresolve.acar.board"/>
                  <dir
                    name="megamek.common.autoresolve.acar.handler"/>
                  <dir
                    name="megamek.common.autoresolve.acar.manager"/>
                  <dir
                    name="megamek.common.autoresolve.acar.order"/>
                  <dir
                    name="megamek.common.autoresolve.acar.phase"/>
                  <dir
                    name="megamek.common.autoresolve.acar.report"/>
                  <dir
                    name="megamek.common.autoresolve.acar.role"/>
                  <dir
                    name="megamek.common.autoresolve.component"/>
                  <dir
                    name="megamek.common.autoresolve.converter"/>
                  <dir
                    name="megamek.common.autoresolve.damage"/>
                  <dir
                    name="megamek.common.autoresolve.event"/>
                  <dir
                    name="megamek.common.battlevalue"/>
                  <dir
                    name="megamek.common.board.postprocess"/>
                  <dir
                    name="megamek.common.commandline"/>
                  <dir
                    name="megamek.common.containers"/>
                  <dir
                    name="megamek.common.copy"/>
                  <dir
                    name="megamek.common.cost"/>
                  <dir
                    name="megamek.common.enums"/>
                  <dir
                    name="megamek.common.equipment"/>
                  <dir
                    name="megamek.common.eras"/>
                  <dir
                    name="megamek.common.event"/>
                  <dir
                    name="megamek.common.force"/>
                  <dir
                    name="megamek.common.hexarea"/>
                  <dir
                    name="megamek.common.icons"/>
                  <dir
                    name="megamek.common.internationalization"/>
                  <dir
                    name="megamek.common.jacksonadapters"/>
                  <dir
                    name="megamek.common.loaders"/>
                  <dir
                    name="megamek.common.miscGear"/>
                  <dir
                    name="megamek.common.net.connections"/>
                  <dir
                    name="megamek.common.net.enums"/>
                  <dir
                    name="megamek.common.net.events"/>
                  <dir
                    name="megamek.common.net.factories"/>
                  <dir
                    name="megamek.common.net.listeners"/>
                  <dir
                    name="megamek.common.net.marshalling"/>
                  <dir
                    name="megamek.common.net.packets"/>
                  <dir
                    name="megamek.common.options"/>
                  <dir
                    name="megamek.common.pathfinder"/>
                  <dir
                    name="megamek.common.planetaryconditions"/>
                  <dir
                    name="megamek.common.preference"/>
                  <dir
                    name="megamek.common.scenario"/>
                  <dir
                    name="megamek.common.strategicBattleSystems"/>
                  <dir
                    name="megamek.common.templates"/>
                  <dir
                    name="megamek.common.util"/>
                  <dir
                    name="megamek.common.util.fileUtils"/>
                  <dir
                    name="megamek.common.util.generator"/>
                  <dir
                    name="megamek.common.util.sorter"/>
                  <dir
                    name="megamek.common.util.weightedMaps"/>
                  <dir
                    name="megamek.common.verifier"/>
                  <dir
                    name="megamek.common.weapons"/>
                  <dir
                    name="megamek.common.weapons.artillery"/>
                  <dir
                    name="megamek.common.weapons.autocannons"/>
                  <dir
                    name="megamek.common.weapons.battlearmor"/>
                  <dir
                    name="megamek.common.weapons.bayweapons"/>
                  <dir
                    name="megamek.common.weapons.bombs"/>
                  <dir
                    name="megamek.common.weapons.c3"/>
                  <dir
                    name="megamek.common.weapons.capitalweapons"/>
                  <dir
                    name="megamek.common.weapons.defensivepods"/>
                  <dir
                    name="megamek.common.weapons.flamers"/>
                  <dir
                    name="megamek.common.weapons.gaussrifles"/>
                  <dir
                    name="megamek.common.weapons.infantry"/>
                  <dir
                    name="megamek.common.weapons.lasers"/>
                  <dir
                    name="megamek.common.weapons.lrms"/>
                  <dir
                    name="megamek.common.weapons.mgs"/>
                  <dir
                    name="megamek.common.weapons.missiles"/>
                  <dir
                    name="megamek.common.weapons.mortars"/>
                  <dir
                    name="megamek.common.weapons.other"/>
                  <dir
                    name="megamek.common.weapons.ppc"/>
                  <dir
                    name="megamek.common.weapons.primitive"/>
                  <dir
                    name="megamek.common.weapons.prototypes"/>
                  <dir
                    name="megamek.common.weapons.srms"/>
                  <dir
                    name="megamek.common.weapons.tag"/>
                  <dir
                    name="megamek.common.weapons.unofficial"/>
                  <dir
                    name="megamek.logging"/>
                  <dir
                    name="megamek.server"/>
                  <dir
                    name="megamek.server.commands"/>
                  <dir
                    name="megamek.server.commands.arguments"/>
                  <dir
                    name="megamek.server.props"/>
                  <dir
                    name="megamek.server.sbf"/>
                  <dir
                    name="megamek.server.scriptedevent"/>
                  <dir
                    name="megamek.server.totalwarfare"/>
                  <dir
                    name="megamek.server.trigger"/>
                  <dir
                    name="megamek.server.victory"/>
                  <dir
                    name="megamek.test"/>
                  <dir
                    name="megamek.test.entities"/>
                  <dir
                    name="megamek.utilities"/>
                  <dir
                    name="megamek.utilities.xml"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="tests">
              <dir
                name="test">
                <dir
                  name="classes"/>
                <dir
                  name="css"/>
                <dir
                  name="js"/>
                <dir
                  name="packages"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="resources">
            <dir
              name="test">
              <dir
                name="megamek">
                <dir
                  name="client">
                  <dir
                    name="bot"/>
                </dir>
                <dir
                  name="common">
                  <dir
                    name="verifier"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test-results">
            <dir
              name="test"/>
          </dir>
        </dir>
        <dir
          name="config">
          <dir
            name="checkstyle"/>
        </dir>
        <dir
          name="data">
          <dir
            name="css"/>
          <dir
            name="forcegenerator">
            <dir
              name="faction_rules"/>
          </dir>
          <dir
            name="mapgen"/>
          <dir
            name="mapsetup"/>
          <dir
            name="mekfiles"/>
          <dir
            name="scenarios">
            <dir
              name="Examples"/>
            <dir
              name="Kell Hounds">
              <dir
                name="LoweringTheBoom"/>
            </dir>
            <dir
              name="Lucho"/>
          </dir>
          <dir
            name="universe"/>
        </dir>
        <dir
          name="docs">
          <dir
            name="Map and Board Stuff"/>
          <dir
            name="Quirks for Fan Council"/>
          <dir
            name="help">
            <dir
              name="en">
              <dir
                name="skinning"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="logs"/>
        <dir
          name="mmconf">
          <dir
            name="skins"/>
        </dir>
        <dir
          name="src">
          <dir
            name="megamek">
            <dir
              name="ai">
              <dir
                name="dataset"/>
              <dir
                name="utility"/>
            </dir>
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess">
                  <dir
                    name="commands"/>
                </dir>
                <dir
                  name="ui">
                  <dir
                    name="swing"/>
                </dir>
              </dir>
              <dir
                name="commands"/>
              <dir
                name="event"/>
              <dir
                name="generator">
                <dir
                  name="enums"/>
                <dir
                  name="skillGenerators"/>
              </dir>
              <dir
                name="ratgenerator"/>
              <dir
                name="ui">
                <dir
                  name="advancedSearchMap"/>
                <dir
                  name="advancedsearch"/>
                <dir
                  name="baseComponents"/>
                <dir
                  name="comboBoxes"/>
                <dir
                  name="dialogs">
                  <dir
                    name="helpDialogs"/>
                  <dir
                    name="nagDialogs"/>
                </dir>
                <dir
                  name="displayWrappers"/>
                <dir
                  name="enums"/>
                <dir
                  name="lists"/>
                <dir
                  name="models"/>
                <dir
                  name="panels"/>
                <dir
                  name="panes"/>
                <dir
                  name="preferences"/>
                <dir
                  name="renderers"/>
                <dir
                  name="sbf"/>
                <dir
                  name="swing">
                  <dir
                    name="alphaStrike"/>
                  <dir
                    name="audio"/>
                  <dir
                    name="boardview"/>
                  <dir
                    name="calculationReport"/>
                  <dir
                    name="commands"/>
                  <dir
                    name="dialog"/>
                  <dir
                    name="forceDisplay"/>
                  <dir
                    name="gameConnectionDialogs"/>
                  <dir
                    name="lobby">
                    <dir
                      name="sorters"/>
                  </dir>
                  <dir
                    name="minimap"/>
                  <dir
                    name="overlay"/>
                  <dir
                    name="sbf"/>
                  <dir
                    name="scenario"/>
                  <dir
                    name="skinEditor"/>
                  <dir
                    name="tileset"/>
                  <dir
                    name="tooltip"/>
                  <dir
                    name="unitDisplay"/>
                  <dir
                    name="util"/>
                  <dir
                    name="widget"/>
                </dir>
                <dir
                  name="trees"/>
              </dir>
            </dir>
            <dir
              name="codeUtilities"/>
            <dir
              name="common">
              <dir
                name="actions">
                <dir
                  name="sbf"/>
              </dir>
              <dir
                name="alphaStrike">
                <dir
                  name="cardDrawer"/>
                <dir
                  name="conversion"/>
              </dir>
              <dir
                name="annotations"/>
              <dir
                name="autoresolve">
                <dir
                  name="acar">
                  <dir
                    name="action"/>
                  <dir
                    name="board"/>
                  <dir
                    name="handler"/>
                  <dir
                    name="manager"/>
                  <dir
                    name="order"/>
                  <dir
                    name="phase"/>
                  <dir
                    name="report"/>
                  <dir
                    name="role"/>
                </dir>
                <dir
                  name="component"/>
                <dir
                  name="converter"/>
                <dir
                  name="damage"/>
                <dir
                  name="event"/>
              </dir>
              <dir
                name="battlevalue"/>
              <dir
                name="board">
                <dir
                  name="postprocess"/>
              </dir>
              <dir
                name="commandline"/>
              <dir
                name="containers"/>
              <dir
                name="copy"/>
              <dir
                name="cost"/>
              <dir
                name="enums"/>
              <dir
                name="equipment"/>
              <dir
                name="eras"/>
              <dir
                name="event"/>
              <dir
                name="force"/>
              <dir
                name="hexarea"/>
              <dir
                name="icons"/>
              <dir
                name="internationalization"/>
              <dir
                name="jacksonadapters"/>
              <dir
                name="loaders"/>
              <dir
                name="miscGear"/>
              <dir
                name="net">
                <dir
                  name="connections"/>
                <dir
                  name="enums"/>
                <dir
                  name="events"/>
                <dir
                  name="factories"/>
                <dir
                  name="listeners"/>
                <dir
                  name="marshalling"/>
                <dir
                  name="packets"/>
              </dir>
              <dir
                name="options"/>
              <dir
                name="pathfinder"/>
              <dir
                name="planetaryconditions"/>
              <dir
                name="preference"/>
              <dir
                name="scenario"/>
              <dir
                name="strategicBattleSystems"/>
              <dir
                name="templates"/>
              <dir
                name="util">
                <dir
                  name="fileUtils"/>
                <dir
                  name="generator"/>
                <dir
                  name="sorter"/>
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
              <dir
                name="weapons">
                <dir
                  name="artillery"/>
                <dir
                  name="autocannons"/>
                <dir
                  name="battlearmor"/>
                <dir
                  name="bayweapons"/>
                <dir
                  name="bombs"/>
                <dir
                  name="c3"/>
                <dir
                  name="capitalweapons"/>
                <dir
                  name="defensivepods"/>
                <dir
                  name="flamers"/>
                <dir
                  name="gaussrifles"/>
                <dir
                  name="infantry"/>
                <dir
                  name="lasers"/>
                <dir
                  name="lrms"/>
                <dir
                  name="mgs"/>
                <dir
                  name="missiles"/>
                <dir
                  name="mortars"/>
                <dir
                  name="other"/>
                <dir
                  name="ppc"/>
                <dir
                  name="primitive"/>
                <dir
                  name="prototypes"/>
                <dir
                  name="srms"/>
                <dir
                  name="tag"/>
                <dir
                  name="unofficial"/>
              </dir>
            </dir>
            <dir
              name="logging"/>
            <dir
              name="server">
              <dir
                name="commands">
                <dir
                  name="arguments"/>
              </dir>
              <dir
                name="props"/>
              <dir
                name="sbf"/>
              <dir
                name="scriptedevent"/>
              <dir
                name="totalwarfare"/>
              <dir
                name="trigger"/>
              <dir
                name="victory"/>
            </dir>
            <dir
              name="test">
              <dir
                name="entities"/>
            </dir>
            <dir
              name="utilities">
              <dir
                name="xml"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="testresources">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot"/>
            </dir>
            <dir
              name="common">
              <dir
                name="verifier"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="unittests">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess"/>
              </dir>
              <dir
                name="generator"/>
              <dir
                name="ratgenerator"/>
              <dir
                name="ui">
                <dir
                  name="swing">
                  <dir
                    name="util"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="codeUtilities"/>
            <dir
              name="common">
              <dir
                name="actions"/>
              <dir
                name="loaders"/>
              <dir
                name="options"/>
              <dir
                name="preference"/>
              <dir
                name="util">
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
              <dir
                name="weapons"/>
            </dir>
            <dir
              name="logging"/>
            <dir
              name="server">
              <dir
                name="totalwarfare"/>
              <dir
                name="victory"/>
            </dir>
            <dir
              name="utils"/>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
