<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <dir
        name="megamek">
        <dir
          name="src">
          <dir
            name="megamek">
            <auto
              name="MMConstants.java"
              excluded="true"/>
            <auto
              name="MMOptions.java"
              excluded="true"/>
            <auto
              name="MMOptionsChangedEvent.java"
              excluded="true"/>
            <auto
              name="MegaMek.java"
              excluded="true"/>
            <auto
              name="SuiteConstants.java"
              excluded="true"/>
            <auto
              name="SuiteOptions.java"
              excluded="true"/>
            <auto
              name="SuiteOptionsChangedEvent.java"
              excluded="true"/>
            <auto
              name="Version.java"
              excluded="true"/>
            <dir
              name="client">
              <auto
                name="Client.java"
                excluded="true"/>
              <auto
                name="CloseClientListener.java"
                excluded="true"/>
              <auto
                name="TimerSingleton.java"
                excluded="true"/>
              <dir
                name="bot"
                excluded="true">
                <dir
                  name="princess"/>
                <dir
                  name="ui">
                  <dir
                    name="swing"/>
                </dir>
              </dir>
              <dir
                name="commands"
                excluded="true"/>
              <dir
                name="event"
                excluded="true"/>
              <dir
                name="generator"
                excluded="true">
                <dir
                  name="enums"/>
                <dir
                  name="skillGenerators"/>
              </dir>
              <dir
                name="ratgenerator"
                excluded="true"/>
              <dir
                name="ui">
                <auto
                  name="Base64Image.java"
                  excluded="true"/>
                <auto
                  name="GBC.java"
                  excluded="true"/>
                <auto
                  name="IClientCommandHandler.java"
                  excluded="true"/>
                <auto
                  name="IDisplayable.java"
                  excluded="true"/>
                <auto
                  name="ITilesetManager.java"
                  excluded="true"/>
                <auto
                  name="Messages.java"
                  excluded="true"/>
                <auto
                  name="SharedUtility.java"
                  excluded="true"/>
                <auto
                  name="WrapLayout.java"
                  excluded="true"/>
                <dir
                  name="baseComponents"
                  excluded="true"/>
                <dir
                  name="comboBoxes"
                  excluded="true"/>
                <dir
                  name="dialogs"
                  excluded="true">
                  <dir
                    name="helpDialogs"/>
                  <dir
                    name="nagDialogs"/>
                </dir>
                <dir
                  name="displayWrappers"
                  excluded="true"/>
                <dir
                  name="enums"
                  excluded="true"/>
                <dir
                  name="lists"
                  excluded="true"/>
                <dir
                  name="models"
                  excluded="true"/>
                <dir
                  name="panels"
                  excluded="true"/>
                <dir
                  name="panes"
                  excluded="true"/>
                <dir
                  name="preferences"
                  excluded="true"/>
                <dir
                  name="renderers"
                  excluded="true"/>
                <dir
                  name="swing">
                  <auto
                    name="ASStatsTablePanel.java"
                    excluded="true"/>
                  <auto
                    name="AbstractChoiceDialog.java"
                    excluded="true"/>
                  <auto
                    name="AbstractPhaseDisplay.java"
                    excluded="true"/>
                  <auto
                    name="AccessibilityWindow.java"
                    excluded="true"/>
                  <auto
                    name="ActionPhaseDisplay.java"
                    excluded="true"/>
                  <auto
                    name="AdvancedSearchDialog.java"
                    excluded="true"/>
                  <auto
                    name="AimedShotDialog.java"
                    excluded="true"/>
                  <auto
                    name="AimedShotHandler.java"
                    excluded="true"/>
                  <auto
                    name="AnalyzeFormationDialog.java"
                    excluded="true"/>
                  <auto
                    name="AttackPhaseDisplay.java"
                    excluded="true"/>
                  <auto
                    name="BayMunitionsChoicePanel.java"
                    excluded="true"/>
                  <auto
                    name="BoardEditor.java"
                    excluded="true"/>
                  <auto
                    name="BoardFileFilter.java"
                    excluded="true"/>
                  <auto
                    name="BoardNewDialog.java"
                    excluded="true"/>
                  <auto
                    name="BombChoicePanel.java"
                    excluded="true"/>
                  <auto
                    name="BombPayloadDialog.java"
                    excluded="true"/>
                  <auto
                    name="ButtonEsc.java"
                    excluded="true"/>
                  <auto
                    name="ButtonOrderPreferences.java"
                    excluded="true"/>
                  <auto
                    name="CancelAction.java"
                    excluded="true"/>
                  <auto
                    name="ChatterBox.java"
                    excluded="true"/>
                  <auto
                    name="ChatterBox2.java"
                    excluded="true"/>
                  <auto
                    name="ChoiceDialog.java"
                    excluded="true"/>
                  <auto
                    name="ClientDialog.java"
                    excluded="true"/>
                  <auto
                    name="ClientGUI.java"
                    excluded="true"/>
                  <auto
                    name="CloseAction.java"
                    excluded="true"/>
                  <auto
                    name="ColourSelectorButton.java"
                    excluded="true"/>
                  <auto
                    name="CommonAboutDialog.java"
                    excluded="true"/>
                  <auto
                    name="CommonMenuBar.java"
                    excluded="true"/>
                  <auto
                    name="CommonSettingsDialog.java"
                    excluded="true"/>
                  <auto
                    name="ConfirmDialog.java"
                    excluded="true"/>
                  <auto
                    name="ConstructionFactorWarning.java"
                    excluded="true"/>
                  <auto
                    name="CustomMechDialog.java"
                    excluded="true"/>
                  <auto
                    name="CustomPilotView.java"
                    excluded="true"/>
                  <auto
                    name="DeployMinefieldDisplay.java"
                    excluded="true"/>
                  <auto
                    name="DeploymentDisplay.java"
                    excluded="true"/>
                  <auto
                    name="DialogOptionComponent.java"
                    excluded="true"/>
                  <auto
                    name="DialogOptionListener.java"
                    excluded="true"/>
                  <auto
                    name="EditBotsDialog.java"
                    excluded="true"/>
                  <auto
                    name="EntityChoiceDialog.java"
                    excluded="true"/>
                  <auto
                    name="EquipChoicePanel.java"
                    excluded="true"/>
                  <auto
                    name="ExitsDialog.java"
                    excluded="true"/>
                  <auto
                    name="FiringDisplay.java"
                    excluded="true"/>
                  <auto
                    name="ForceGenerationOptionsPanel.java"
                    excluded="true"/>
                  <auto
                    name="ForceGeneratorOptionsView.java"
                    excluded="true"/>
                  <auto
                    name="ForceGeneratorViewUi.java"
                    excluded="true"/>
                  <auto
                    name="GUIPreferences.java"
                    excluded="true"/>
                  <auto
                    name="GameOptionsDialog.java"
                    excluded="true"/>
                  <auto
                    name="HeatEffects.java"
                    excluded="true"/>
                  <auto
                    name="HelpDialog.java"
                    excluded="true"/>
                  <auto
                    name="IMapSettingsObserver.java"
                    excluded="true"/>
                  <auto
                    name="LOSDialog.java"
                    excluded="true"/>
                  <auto
                    name="MMToggleButton.java"
                    excluded="true"/>
                  <auto
                    name="ManeuverChoiceDialog.java"
                    excluded="true"/>
                  <auto
                    name="MapDimensionsDialog.java"
                    excluded="true"/>
                  <auto
                    name="MapMenu.java"
                    excluded="true"/>
                  <auto
                    name="MechViewPanel.java"
                    excluded="true"/>
                  <auto
                    name="MegaMekGUI.java"
                    excluded="true"/>
                  <auto
                    name="MineDensityDialog.java"
                    excluded="true"/>
                  <auto
                    name="MineLayingDialog.java"
                    excluded="true"/>
                  <auto
                    name="MiniReportDisplay.java"
                    excluded="true"/>
                  <auto
                    name="MovementDisplay.java"
                    excluded="true"/>
                  <auto
                    name="NoteDialog.java"
                    excluded="true"/>
                  <auto
                    name="OffBoardTargetOverlay.java"
                    excluded="true"/>
                  <auto
                    name="OkayAction.java"
                    excluded="true"/>
                  <auto
                    name="PhysicalDisplay.java"
                    excluded="true"/>
                  <auto
                    name="PlanetaryConditionsDialog.java"
                    excluded="true"/>
                  <auto
                    name="PlayerListDialog.java"
                    excluded="true"/>
                  <auto
                    name="PointblankShotDisplay.java"
                    excluded="true"/>
                  <auto
                    name="PrephaseDisplay.java"
                    excluded="true"/>
                  <auto
                    name="QuirksPanel.java"
                    excluded="true"/>
                  <auto
                    name="RandomArmyDialog.java"
                    excluded="true"/>
                  <auto
                    name="RandomMapDialog.java"
                    excluded="true"/>
                  <auto
                    name="RandomMapPanelAdvanced.java"
                    excluded="true"/>
                  <auto
                    name="RandomMapPanelBasic.java"
                    excluded="true"/>
                  <auto
                    name="RandomNameDialog.java"
                    excluded="true"/>
                  <auto
                    name="ReportDisplay.java"
                    excluded="true"/>
                  <auto
                    name="ResizeMapDialog.java"
                    excluded="true"/>
                  <auto
                    name="Ruler.java"
                    excluded="true"/>
                  <auto
                    name="SBFStatsTablePanel.java"
                    excluded="true"/>
                  <auto
                    name="ScenarioDialog.java"
                    excluded="true"/>
                  <auto
                    name="SeaMineDepthDialog.java"
                    excluded="true"/>
                  <auto
                    name="SelectArtyAutoHitHexDisplay.java"
                    excluded="true"/>
                  <auto
                    name="SkillGenerationDialog.java"
                    excluded="true"/>
                  <auto
                    name="Slider.java"
                    excluded="true"/>
                  <auto
                    name="SmallSVMunitionsChoicePanel.java"
                    excluded="true"/>
                  <auto
                    name="StatusBarPhaseDisplay.java"
                    excluded="true"/>
                  <auto
                    name="TableColumnManager.java"
                    excluded="true"/>
                  <auto
                    name="TargetChoiceDialog.java"
                    excluded="true"/>
                  <auto
                    name="TargetingPhaseDisplay.java"
                    excluded="true"/>
                  <auto
                    name="TeleMissileSettingDialog.java"
                    excluded="true"/>
                  <auto
                    name="TriggerAPPodDialog.java"
                    excluded="true"/>
                  <auto
                    name="TriggerBPodDialog.java"
                    excluded="true"/>
                  <auto
                    name="TurretFacingDialog.java"
                    excluded="true"/>
                  <auto
                    name="UITheme.java"
                    excluded="true"/>
                  <auto
                    name="UnitDisplayOrderPreferences.java"
                    excluded="true"/>
                  <auto
                    name="UnitEditorDialog.java"
                    excluded="true"/>
                  <auto
                    name="UnitFailureDialog.java"
                    excluded="true"/>
                  <auto
                    name="UnitLoadingDialog.java"
                    excluded="true"/>
                  <auto
                    name="UnitOverview.java"
                    excluded="true"/>
                  <auto
                    name="VibrabombSettingDialog.java"
                    excluded="true"/>
                  <dir
                    name="alphaStrike"
                    excluded="true"/>
                  <dir
                    name="audio"
                    excluded="true"/>
                  <dir
                    name="boardview"
                    excluded="true"/>
                  <dir
                    name="calculationReport"
                    excluded="true"/>
                  <dir
                    name="dialog"
                    excluded="true"/>
                  <dir
                    name="forceDisplay"
                    excluded="true"/>
                  <dir
                    name="gameConnectionDialogs"
                    excluded="true"/>
                  <dir
                    name="lobby">
                    <auto
                      name="ChatLounge.java"
                      excluded="true"/>
                    <auto
                      name="LobbyActions.java"
                      excluded="true"/>
                    <auto
                      name="LobbyErrors.java"
                      excluded="true"/>
                    <auto
                      name="LobbyKeyDispatcher.java"
                      excluded="true"/>
                    <auto
                      name="LobbyMekCellFormatter.java"
                      excluded="true"/>
                    <auto
                      name="LobbyMekPopup.java"
                      excluded="true"/>
                    <auto
                      name="LobbyMekPopupActions.java"
                      excluded="true"/>
                    <auto
                      name="LobbyUtility.java"
                      excluded="true"/>
                    <auto
                      name="MapListPopup.java"
                      excluded="true"/>
                    <auto
                      name="MapPreviewButton.java"
                      excluded="true"/>
                    <auto
                      name="MekForceTreeRenderer.java"
                      excluded="true"/>
                    <auto
                      name="MekForceTreeTransferHandler.java"
                      excluded="true"/>
                    <auto
                      name="MekTableASUnitEntry.java"
                      excluded="true"/>
                    <auto
                      name="MekTableModel.java"
                      excluded="true"/>
                    <auto
                      name="MekTreeForceModel.java"
                      excluded="true"/>
                    <auto
                      name="PlayerSettingsDialog.java"
                      excluded="true"/>
                    <auto
                      name="PlayerTable.java"
                      excluded="true"/>
                    <auto
                      name="PlayerTablePopup.java"
                      excluded="true"/>
                    <dir
                      name="sorters"
                      excluded="true"/>
                  </dir>
                  <dir
                    name="minimap"
                    excluded="true"/>
                  <dir
                    name="scenario"
                    excluded="true"/>
                  <dir
                    name="skinEditor"
                    excluded="true"/>
                  <dir
                    name="table"
                    excluded="true"/>
                  <dir
                    name="tileset"
                    excluded="true"/>
                  <dir
                    name="tooltip"
                    excluded="true"/>
                  <dir
                    name="unitDisplay"
                    excluded="true"/>
                  <dir
                    name="unitSelector"
                    excluded="true"/>
                  <dir
                    name="util"
                    excluded="true"/>
                  <dir
                    name="widget"
                    excluded="true"/>
                </dir>
                <dir
                  name="trees"
                  excluded="true">
                  <auto
                    name="AbstractIconChooserTree.java"
                    excluded="true"/>
                  <auto
                    name="CamoChooserTree.java"
                    excluded="true"/>
                  <auto
                    name="PortraitChooserTree.java"
                    excluded="true"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="codeUtilities"
              excluded="true"/>
            <dir
              name="common">
              <auto
                name="ASFBay.java"
                excluded="true"/>
              <auto
                name="AbstractGame.java"
                excluded="true"/>
              <auto
                name="AbstractSmallCraftASFBay.java"
                excluded="true"/>
              <auto
                name="Aero.java"
                excluded="true"/>
              <auto
                name="AeroSpaceFighter.java"
                excluded="true"/>
              <auto
                name="AmmoType.java"
                excluded="true"/>
              <auto
                name="ArmlessMech.java"
                excluded="true"/>
              <auto
                name="ArtilleryTracker.java"
                excluded="true"/>
              <auto
                name="BTObject.java"
                excluded="true"/>
              <auto
                name="BattleArmor.java"
                excluded="true"/>
              <auto
                name="BattleArmorBay.java"
                excluded="true"/>
              <auto
                name="BattleArmorHandles.java"
                excluded="true"/>
              <auto
                name="BattleArmorHandlesTank.java"
                excluded="true"/>
              <auto
                name="BattleForceElement.java"
                excluded="true"/>
              <auto
                name="Bay.java"
                excluded="true"/>
              <auto
                name="BayType.java"
                excluded="true"/>
              <auto
                name="BipedMech.java"
                excluded="true"/>
              <auto
                name="Board.java"
                excluded="true"/>
              <auto
                name="BoardDimensions.java"
                excluded="true"/>
              <auto
                name="BombType.java"
                excluded="true"/>
              <auto
                name="Building.java"
                excluded="true"/>
              <auto
                name="BuildingTarget.java"
                excluded="true"/>
              <auto
                name="BulldozerMovePath.java"
                excluded="true"/>
              <auto
                name="CalledShot.java"
                excluded="true"/>
              <auto
                name="CargoBay.java"
                excluded="true"/>
              <auto
                name="ClampMountMech.java"
                excluded="true"/>
              <auto
                name="ClampMountTank.java"
                excluded="true"/>
              <auto
                name="CombatRole.java"
                excluded="true"/>
              <auto
                name="CompositeTechLevel.java"
                excluded="true"/>
              <auto
                name="Compute.java"
                excluded="true"/>
              <auto
                name="ComputeECM.java"
                excluded="true"/>
              <auto
                name="Configuration.java"
                excluded="true"/>
              <auto
                name="ConvFighter.java"
                excluded="true"/>
              <auto
                name="Coords.java"
                excluded="true"/>
              <auto
                name="Crew.java"
                excluded="true"/>
              <auto
                name="CrewQuartersCargoBay.java"
                excluded="true"/>
              <auto
                name="CrewType.java"
                excluded="true"/>
              <auto
                name="CriticalSlot.java"
                excluded="true"/>
              <auto
                name="DockingCollar.java"
                excluded="true"/>
              <auto
                name="Dropship.java"
                excluded="true"/>
              <auto
                name="DropshuttleBay.java"
                excluded="true"/>
              <auto
                name="ECMInfo.java"
                excluded="true"/>
              <auto
                name="EjectedCrew.java"
                excluded="true"/>
              <auto
                name="EjectionSeatCargoBay.java"
                excluded="true"/>
              <auto
                name="Engine.java"
                excluded="true"/>
              <auto
                name="Entity.java"
                excluded="true"/>
              <auto
                name="EntityFluff.java"
                excluded="true"/>
              <auto
                name="EntityListFile.java"
                excluded="true"/>
              <auto
                name="EntityMovementMode.java"
                excluded="true"/>
              <auto
                name="EntityMovementType.java"
                excluded="true"/>
              <auto
                name="EntitySelector.java"
                excluded="true"/>
              <auto
                name="EntityVisibilityUtils.java"
                excluded="true"/>
              <auto
                name="EntityWeightClass.java"
                excluded="true"/>
              <auto
                name="EquipmentMessages.java"
                excluded="true"/>
              <auto
                name="EquipmentMode.java"
                excluded="true"/>
              <auto
                name="EquipmentType.java"
                excluded="true"/>
              <auto
                name="EquipmentTypeLookup.java"
                excluded="true"/>
              <auto
                name="EscapePods.java"
                excluded="true"/>
              <auto
                name="Facing.java"
                excluded="true"/>
              <auto
                name="FighterSquadron.java"
                excluded="true"/>
              <auto
                name="FirstClassQuartersCargoBay.java"
                excluded="true"/>
              <auto
                name="FixedWingSupport.java"
                excluded="true"/>
              <auto
                name="Flare.java"
                excluded="true"/>
              <auto
                name="ForceAssignable.java"
                excluded="true"/>
              <auto
                name="FuelTank.java"
                excluded="true"/>
              <auto
                name="FuelType.java"
                excluded="true"/>
              <auto
                name="GameLog.java"
                excluded="true"/>
              <auto
                name="GameReports.java"
                excluded="true"/>
              <auto
                name="GameTurn.java"
                excluded="true"/>
              <auto
                name="GunEmplacement.java"
                excluded="true"/>
              <auto
                name="HeavyVehicleBay.java"
                excluded="true"/>
              <auto
                name="Hex.java"
                excluded="true"/>
              <auto
                name="HexTarget.java"
                excluded="true"/>
              <auto
                name="HitData.java"
                excluded="true"/>
              <auto
                name="IAero.java"
                excluded="true"/>
              <auto
                name="IArmorState.java"
                excluded="true"/>
              <auto
                name="IBomber.java"
                excluded="true"/>
              <auto
                name="IEntityRemovalConditions.java"
                excluded="true"/>
              <auto
                name="IGame.java"
                excluded="true"/>
              <auto
                name="ILocationExposureStatus.java"
                excluded="true"/>
              <auto
                name="INarcPod.java"
                excluded="true"/>
              <auto
                name="IStartingPositions.java"
                excluded="true"/>
              <auto
                name="ITechManager.java"
                excluded="true"/>
              <auto
                name="ITechnology.java"
                excluded="true"/>
              <auto
                name="ITechnologyDelegator.java"
                excluded="true"/>
              <auto
                name="ITurnOrdered.java"
                excluded="true"/>
              <auto
                name="IdealHex.java"
                excluded="true"/>
              <auto
                name="InGameObject.java"
                excluded="true"/>
              <auto
                name="Infantry.java"
                excluded="true"/>
              <auto
                name="InfantryBay.java"
                excluded="true"/>
              <auto
                name="InfantryMount.java"
                excluded="true"/>
              <auto
                name="InfantryWeaponMounted.java"
                excluded="true"/>
              <auto
                name="InfernoTracker.java"
                excluded="true"/>
              <auto
                name="InitiativeRoll.java"
                excluded="true"/>
              <auto
                name="InsulatedCargoBay.java"
                excluded="true"/>
              <auto
                name="Jumpship.java"
                excluded="true"/>
              <auto
                name="KeyBindParser.java"
                excluded="true"/>
              <auto
                name="LAMPilot.java"
                excluded="true"/>
              <auto
                name="LandAirMech.java"
                excluded="true"/>
              <auto
                name="LargeSupportTank.java"
                excluded="true"/>
              <auto
                name="LightVehicleBay.java"
                excluded="true"/>
              <auto
                name="LiquidCargoBay.java"
                excluded="true"/>
              <auto
                name="LivestockCargoBay.java"
                excluded="true"/>
              <auto
                name="LocationFullException.java"
                excluded="true"/>
              <auto
                name="LosEffects.java"
                excluded="true"/>
              <auto
                name="MMRandom.java"
                excluded="true"/>
              <auto
                name="MMRoll.java"
                excluded="true"/>
              <auto
                name="MMShuffle.java"
                excluded="true"/>
              <auto
                name="MPCalculationSetting.java"
                excluded="true"/>
              <auto
                name="MULParser.java"
                excluded="true"/>
              <auto
                name="ManeuverType.java"
                excluded="true"/>
              <auto
                name="MapSettings.java"
                excluded="true"/>
              <auto
                name="MapSetup.java"
                excluded="true"/>
              <auto
                name="Mech.java"
                excluded="true"/>
              <auto
                name="MechBay.java"
                excluded="true"/>
              <auto
                name="MechFileParser.java"
                excluded="true"/>
              <auto
                name="MechSearchFilter.java"
                excluded="true"/>
              <auto
                name="MechSummary.java"
                excluded="true"/>
              <auto
                name="MechSummaryCache.java"
                excluded="true"/>
              <auto
                name="MechSummaryComparator.java"
                excluded="true"/>
              <auto
                name="MechView.java"
                excluded="true"/>
              <auto
                name="MechWarrior.java"
                excluded="true"/>
              <auto
                name="Messages.java"
                excluded="true"/>
              <auto
                name="Minefield.java"
                excluded="true"/>
              <auto
                name="MinefieldTarget.java"
                excluded="true"/>
              <auto
                name="MiscType.java"
                excluded="true"/>
              <auto
                name="Mounted.java"
                excluded="true"/>
              <auto
                name="MountedHelper.java"
                excluded="true"/>
              <auto
                name="MovePath.java"
                excluded="true"/>
              <auto
                name="MoveStep.java"
                excluded="true"/>
              <auto
                name="NarcPod.java"
                excluded="true"/>
              <auto
                name="NavalRepairFacility.java"
                excluded="true"/>
              <auto
                name="OffBoardDirection.java"
                excluded="true"/>
              <auto
                name="PhaseUpdated.java"
                excluded="true"/>
              <auto
                name="PhysicalResult.java"
                excluded="true"/>
              <auto
                name="PillionSeatCargoBay.java"
                excluded="true"/>
              <auto
                name="PilotSPAHelper.java"
                excluded="true"/>
              <auto
                name="PilotingRollData.java"
                excluded="true"/>
              <auto
                name="Player.java"
                excluded="true"/>
              <auto
                name="Protomech.java"
                excluded="true"/>
              <auto
                name="ProtomechBay.java"
                excluded="true"/>
              <auto
                name="ProtomechClampMount.java"
                excluded="true"/>
              <auto
                name="QuadMech.java"
                excluded="true"/>
              <auto
                name="QuadVee.java"
                excluded="true"/>
              <auto
                name="QuirkEntry.java"
                excluded="true"/>
              <auto
                name="RangeType.java"
                excluded="true"/>
              <auto
                name="RefrigeratedCargoBay.java"
                excluded="true"/>
              <auto
                name="ReinforcedRepairFacility.java"
                excluded="true"/>
              <auto
                name="Report.java"
                excluded="true"/>
              <auto
                name="ReportMessages.java"
                excluded="true"/>
              <auto
                name="Roll.java"
                excluded="true"/>
              <auto
                name="RoundUpdated.java"
                excluded="true"/>
              <auto
                name="RoundWeight.java"
                excluded="true"/>
              <auto
                name="SecondClassQuartersCargoBay.java"
                excluded="true"/>
              <auto
                name="Sensor.java"
                excluded="true"/>
              <auto
                name="SimpleTechLevel.java"
                excluded="true"/>
              <auto
                name="SmallCraft.java"
                excluded="true"/>
              <auto
                name="SmallCraftBay.java"
                excluded="true"/>
              <auto
                name="SmallWeaponAmmoType.java"
                excluded="true"/>
              <auto
                name="SpaceStation.java"
                excluded="true"/>
              <auto
                name="SpecialHexDisplay.java"
                excluded="true"/>
              <auto
                name="SpecialResolutionTracker.java"
                excluded="true"/>
              <auto
                name="StandardSeatCargoBay.java"
                excluded="true"/>
              <auto
                name="SteerageQuartersCargoBay.java"
                excluded="true"/>
              <auto
                name="SuperHeavyTank.java"
                excluded="true"/>
              <auto
                name="SuperHeavyVehicleBay.java"
                excluded="true"/>
              <auto
                name="SupportTank.java"
                excluded="true"/>
              <auto
                name="SupportVTOL.java"
                excluded="true"/>
              <auto
                name="TagInfo.java"
                excluded="true"/>
              <auto
                name="Tank.java"
                excluded="true"/>
              <auto
                name="TankTrailerHitch.java"
                excluded="true"/>
              <auto
                name="TargetRoll.java"
                excluded="true"/>
              <auto
                name="TargetRollModifier.java"
                excluded="true"/>
              <auto
                name="Targetable.java"
                excluded="true"/>
              <auto
                name="TechAdvancement.java"
                excluded="true"/>
              <auto
                name="TechConstants.java"
                excluded="true"/>
              <auto
                name="TeleMissile.java"
                excluded="true"/>
              <auto
                name="TeleMissileTracker.java"
                excluded="true"/>
              <auto
                name="Terrain.java"
                excluded="true"/>
              <auto
                name="Terrains.java"
                excluded="true"/>
              <auto
                name="ToHitData.java"
                excluded="true"/>
              <auto
                name="Transporter.java"
                excluded="true"/>
              <auto
                name="TripodMech.java"
                excluded="true"/>
              <auto
                name="TroopSpace.java"
                excluded="true"/>
              <auto
                name="TurnOrdered.java"
                excluded="true"/>
              <auto
                name="TurnVectors.java"
                excluded="true"/>
              <auto
                name="UnitLocation.java"
                excluded="true"/>
              <auto
                name="UnitNameTracker.java"
                excluded="true"/>
              <auto
                name="UnitRole.java"
                excluded="true"/>
              <auto
                name="UnitType.java"
                excluded="true"/>
              <auto
                name="VTOL.java"
                excluded="true"/>
              <auto
                name="Warship.java"
                excluded="true"/>
              <auto
                name="WeaponComparatorArc.java"
                excluded="true"/>
              <auto
                name="WeaponComparatorBV.java"
                excluded="true"/>
              <auto
                name="WeaponComparatorCustom.java"
                excluded="true"/>
              <auto
                name="WeaponComparatorDamage.java"
                excluded="true"/>
              <auto
                name="WeaponComparatorNum.java"
                excluded="true"/>
              <auto
                name="WeaponComparatorRange.java"
                excluded="true"/>
              <auto
                name="WeaponOrderHandler.java"
                excluded="true"/>
              <auto
                name="WeaponResult.java"
                excluded="true"/>
              <auto
                name="WeaponType.java"
                excluded="true"/>
              <auto
                name="WeatherRestriction.java"
                excluded="true"/>
              <dir
                name="actions"
                excluded="true"/>
              <dir
                name="alphaStrike"
                excluded="true">
                <dir
                  name="cardDrawer"/>
                <dir
                  name="conversion"/>
              </dir>
              <dir
                name="annotations"
                excluded="true"/>
              <dir
                name="battlevalue"
                excluded="true"/>
              <dir
                name="commandline"
                excluded="true"/>
              <dir
                name="containers"
                excluded="true"/>
              <dir
                name="cost"
                excluded="true"/>
              <dir
                name="enums"
                excluded="true"/>
              <dir
                name="equipment"
                excluded="true"/>
              <dir
                name="eras"
                excluded="true"/>
              <dir
                name="event"
                excluded="true"/>
              <dir
                name="force"
                excluded="true"/>
              <dir
                name="icons"
                excluded="true"/>
              <dir
                name="jacksonadapters"
                excluded="true"/>
              <dir
                name="loaders"
                excluded="true"/>
              <dir
                name="miscGear"
                excluded="true"/>
              <dir
                name="net"
                excluded="true">
                <dir
                  name="connections"/>
                <dir
                  name="enums"/>
                <dir
                  name="events"/>
                <dir
                  name="factories"/>
                <dir
                  name="listeners"/>
                <dir
                  name="marshalling"/>
                <dir
                  name="packets"/>
              </dir>
              <dir
                name="options"
                excluded="true"/>
              <dir
                name="pathfinder"
                excluded="true"/>
              <dir
                name="planetaryconditions"
                excluded="true"/>
              <dir
                name="preference"
                excluded="true"/>
              <dir
                name="scenario"
                excluded="true"/>
              <dir
                name="strategicBattleSystems"
                excluded="true"/>
              <dir
                name="templates"
                excluded="true"/>
              <dir
                name="util"
                excluded="true">
                <dir
                  name="fileUtils"/>
                <dir
                  name="generator"/>
                <dir
                  name="sorter"/>
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"
                excluded="true"/>
              <dir
                name="weapons"
                excluded="true">
                <dir
                  name="artillery"/>
                <dir
                  name="autocannons"/>
                <dir
                  name="battlearmor"/>
                <dir
                  name="bayweapons"/>
                <dir
                  name="bombs"/>
                <dir
                  name="c3"/>
                <dir
                  name="capitalweapons"/>
                <dir
                  name="defensivepods"/>
                <dir
                  name="flamers"/>
                <dir
                  name="gaussrifles"/>
                <dir
                  name="infantry"/>
                <dir
                  name="lasers"/>
                <dir
                  name="lrms"/>
                <dir
                  name="mgs"/>
                <dir
                  name="missiles"/>
                <dir
                  name="mortars"/>
                <dir
                  name="other"/>
                <dir
                  name="ppc"/>
                <dir
                  name="primitive"/>
                <dir
                  name="prototypes"/>
                <dir
                  name="srms"/>
                <dir
                  name="tag"/>
                <dir
                  name="unofficial"/>
              </dir>
            </dir>
            <dir
              name="server">
              <auto
                name="ConnectionHandler.java"
                excluded="true"/>
              <auto
                name="ConnectionWatchdog.java"
                excluded="true"/>
              <auto
                name="DedicatedServer.java"
                excluded="true"/>
              <auto
                name="DynamicTerrainProcessor.java"
                excluded="true"/>
              <auto
                name="ElevatorProcessor.java"
                excluded="true"/>
              <auto
                name="FireProcessor.java"
                excluded="true"/>
              <auto
                name="GameManager.java"
                excluded="true"/>
              <auto
                name="GeyserProcessor.java"
                excluded="true"/>
              <auto
                name="IGameManager.java"
                excluded="true"/>
              <auto
                name="Messages.java"
                excluded="true"/>
              <auto
                name="QuicksandProcessor.java"
                excluded="true"/>
              <auto
                name="ScreenProcessor.java"
                excluded="true"/>
              <auto
                name="ServerBoardHelper.java"
                excluded="true"/>
              <auto
                name="ServerHelper.java"
                excluded="true"/>
              <auto
                name="ServerLobbyHelper.java"
                excluded="true"/>
              <auto
                name="ServerReportsHelper.java"
                excluded="true"/>
              <auto
                name="SmokeCloud.java"
                excluded="true"/>
              <auto
                name="UnitStatusFormatter.java"
                excluded="true"/>
              <auto
                name="WeatherProcessor.java"
                excluded="true"/>
              <dir
                name="commands"
                excluded="true"/>
              <dir
                name="victory"
                excluded="true"/>
            </dir>
            <dir
              name="test"
              excluded="true">
              <dir
                name="entities"/>
            </dir>
            <dir
              name="utilities"
              excluded="true">
              <dir
                name="xml"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="unittests"
          excluded="true">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess"/>
              </dir>
              <dir
                name="generator"/>
              <dir
                name="ui">
                <dir
                  name="swing"/>
              </dir>
            </dir>
            <dir
              name="codeUItilities"/>
            <dir
              name="common">
              <dir
                name="loaders"/>
              <dir
                name="options"/>
              <dir
                name="preference"/>
              <dir
                name="util">
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
            </dir>
            <dir
              name="server">
              <dir
                name="victory"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
</project>
