.classpath
.project
/*.blame
/*.patch
/classes
/savegames
/MegaMek.jar
/*.diff
/logs
/data/mechfiles/units.cache
/mmconf/clientsettings.xml
/mmconf/*gameoptions.xml
/bin/
/*.mul
/apidocs/
/mmconf/*.properties
/mmconf/*.properties.bak
/*.log
/classes/
/mechs.csv
