.classpath
.project
/*.blame
/*.patch
/classes
/savegames
/MegaMek.jar
/*.diff
/logs
/data/mechfiles/units.cache
/mmconf/clientsettings.xml
/mmconf/*gameoptions.xml
/bin/
/*.mul
/apidocs/
/mmconf/*.properties
!/mmconf/shared.properties
/mmconf/*.properties.bak
/*.log
/classes/
/mechs.csv
/*.ps
atlasedImages.txt
data/images/imgFileAtlasMap.xml
/userdata/
/*.pdf
/*.ps
/*.png
/MegaMekLab.jar
/Entity Issues.txt
