name: JavaDoc Generation on PR

on:
  pull_request:
    branches: [ main ]

env:
  GRADLE_OPTS: "-Dscan.link.VCS=${{ github.event.pull_request.html_url }}"

jobs:
  pr_java_doc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Data Repo
        uses: actions/checkout@v6
        with:
          repository: megamek/mm-data
          path: mm-data

      - name: "Check out MegaMek"
        uses: actions/checkout@v6
        with:
          path: megamek

      - name: Set up Temurin JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Build with Gradle
        working-directory: megamek
        run: ./gradlew javadoc
