name: Sign Units and Build MegaMek Distribution

on:
  push:

env:
  GRADLE_OPTS: "-Dscan.link.VCS=https://github.com/MegaMek/megamek/commit/${{ github.sha }}"

jobs:
  nightly_ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        java-distribution: [temurin]
        java-version: [17]
      fail-fast: false

    name: Sign all Megamek Units and Build MegaMek CI ${{ matrix.os }} on ${{ matrix.java-distribution }} JDK ${{ matrix.java-version }}

    steps:
      - uses: actions/checkout@v4
        with:
          path: megamek

      - name: Set up ${{ matrix.java-distribution }} JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Setup private key for file signing
        run: |
          mkdir -p megamek/megamek/keystore
          echo "${{ secrets.FILE_SIGNING_PRIVATE_KEY }}" | base64 --decode > megamek/megamek/keystore/private.key

      - name: Sign canonical unit files
        working-directory: megamek
        run: |
          ./gradlew signCanonicalFiles -PsignFilesArgs="keystore/private.key resources/public.key data/mekfiles" --stacktrace
          echo "Signing canonical unit files complete."
          rm megamek/keystore/private.key

      - name: Build with Gradle
        working-directory: megamek
        run: ./gradlew clean build --stacktrace --scan

      - name: Upload Test Logs on Failure
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ matrix.os }}-${{ matrix.java-distribution }}-jdk${{ matrix.java-version }}-ci-failure-logs
          path: megamek/megamek/build/reports/

      - name: Upload TarGZ Release
        uses: actions/upload-artifact@v4
        with:
          name: mm-release-tar-gz-${{ matrix.java-distribution }}-jdk${{ matrix.java-version }}
          path: ./megamek/megamek/build/distributions/*.tar.gz
