name: Validate Boards

on:
  push:
    branches: [master]
    paths:
      # This set of paths is the reasonable set which
      # should trigger a validation of the boards in MM.
      # If any changes are made to Board that use
      # a new class, update these blocks.
      - "**.board"
      - "megamek/src/megamek/common/Board.java"
      - "megamek/src/megamek/common/Building.java"
      - "megamek/src/megamek/common/Terrains.java"
      - "megamek/src/megamek/utilities/BoardsValidator.java"
  pull_request:
    branches: [master]
    paths:
      - "**.board"
      - "megamek/src/megamek/common/Board.java"
      - "megamek/src/megamek/common/Building.java"
      - "megamek/src/megamek/common/Terrains.java"
      - "megamek/src/megamek/utilities/BoardsValidator.java"
env:
  GRADLE_OPTS: "-Dscan.link.VCS=${{ github.event.pull_request.html_url }}"

jobs:
  board_validator:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        java-distribution: [temurin]
        java-version: [17]

    steps:
      - name: "Check out MegaMek"
        uses: actions/checkout@v4
        with:
          path: megamek

      - name: Set up ${{ matrix.java-distribution }} JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          build-scan-publish: false
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Validate Boards
        working-directory: megamek
        run: ./gradlew boardsValidator
